[submodule "themes/universal"]
	path = themes/universal
	url = https://github.com/devcows/hugo-universal-theme.git

[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/themefisher/meghna-hugo
